@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.page {
   height: 100vh;
   display: flex;
   padding: 3%;
   padding-top: 5vh;
   @include tablet {
      flex-direction: column;
      padding: 1%;
      padding-top: 3vh;
   }
}

.filtersBlock {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   margin-right: 15px;
   margin-bottom: 15px;
   @include tablet {
      display: none;
      flex-direction: row;
      width: 100%;
      position: relative;
      margin-bottom: 0;
   }
}
.filtersBlockActive {
   @include tablet {
      display: flex;
      margin-top: 10px;
   }
}

.filtersTitle {
   display: none;
   font-size: 24px;
   font-weight: 600;
   cursor: pointer;
   @include tablet {
      display: block;
   }
   &:hover {
      color: rgb(81, 81, 95);
   }
}

.resetFiltersBtn {
   padding: 10px 30px;
   background-color: #6c757d;
   border: none;
   border-radius: 10px;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   @include tablet {
      align-self: flex-end;
      position: absolute;
      bottom: -6vh;
   }
   @include mobile {
      right: 48vw;
      bottom: -5vh;
      padding: 8px 17px;
   }
   &:hover {
      background-color: #7b838b;
   }
}

.usersBlock {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 1% 2%;
}

.usersNoneMessage {
   font-size: 38px;
   font-weight: 700;
   padding: 50px 25px;
   @include tablet {
      font-size: 35px;
   }
   @include mobile {
      font-size: 25px;
      padding: 25px 13px;
   }
}
